@use '../../../style/partials/variables' as *;
@use '../../../style/partials/mixins' as *;

.hero {
  width: 100%;
  height: 43rem;

  @include tablet {
    height: 80rem;
  }

  @include desktop {
    height: 140rem;
  }

  &__pic {
    width: 100%;
    height: 43rem;

    @include tablet {
      height: 80rem;
    }

    @include desktop {
      height: 140rem;
    }
  }
}
