@import './typography';

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  & a {
    text-decoration: none;
  }
  font-family: 'Lilita';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
