@use '../../../style/partials/variables' as *;
@use '../../../style/partials/mixins' as *;

.header {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;

  &--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__link {
  margin-left: 2%;
}

.logo {
  border-radius: 50%;
  height: 7rem;
}

.header--nav {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    margin-right: 2%;
  }

  &__link {
    font-weight: 100;
    color: black;
    margin-left: 1rem;
    text-align: center;
    font-family: sans-serif;
    padding: 0.5rem 0.5rem;

    font-size: 2rem;

    &:hover {
      border-bottom: solid 1.5px black;
    }
  }
}

.social--media__logo {
  height: 2.4rem;
}

.header--menu {
  margin-right: 2%;

  @include tablet {
    display: none;
  }
}

.menu-icon {
  height: 4rem;
}

.active {
  border-bottom: solid 1.5px black;
}
